<mat-card [ngStyle]="{ 'background-color': backgroundColor }">
    <mat-card-title>{{student.studentName}}</mat-card-title>
    <mat-card-content>
        <p>Father's Name: <span>{{student.fatherName}}</span></p>
        <p>Mother's Name: <span>{{student.motherName}}</span></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="navigateReqPage('onboarding/edit',student.id)">Edit</button>
        <button mat-raised-button color="accent" (click)="navigateReqPage('onboarding/view',student.id)">View</button>
        <button mat-raised-button color="warn" (click)="confirmDeleteDialog(student.id)">Delete</button>
    </mat-card-actions>
</mat-card>