mat-card {
    margin: 40px auto;
    color: white;
    padding: 30px;
    border-radius: 30px;
}

mat-card-title {
    text-align: center;
}

mat-card-actions {
    float: right;
}

.mat-raised-button {
    margin: 0 8px !important;
}

.bkg-indian {
    background-color: orange;
}

.bkg-international {
    background-color: blue;
}