ul {
    list-style-type: none;
}

li {
    width: 40%;
    display: inline-block;
    margin: 20px 5%;
}

.filter-container {
    width: 100%;
    display: inline-block;
}

.category-filter {
    margin-left: 5%;
    float: left;
}

.search {
    margin-right: 5%;
    float: right;
}

.no-results {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
    color: red;
}