<div class="filter-container">
    <div class="category-filter">
        <mat-form-field>
            <mat-select placeholder="Category" [(ngModel)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="search">
        <mat-form-field>
            <mat-icon matSuffix>search_outline</mat-icon>
            <input type="text" matInput [(ngModel)]="searchText" placeholder="Search">
        </mat-form-field>
    </div>
</div>
<ul>
    <li *ngFor="let student of (studentService.students$ | async | filter:selectedCategory | search:searchText)">
        <app-student-details [student]="student"></app-student-details>
    </li>
</ul>
<p *ngIf="(studentService.students$ | async | filter:selectedCategory | search:searchText).length == 0" class="no-results">No results found</p>